
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <h1>Use npm to Add a Library</h1>
    <button id="btn-jquery-func">Run jQuery Function</button>
    <div class="box"></div>
</div>
